<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669034824282-nfg88mb4hqe02l47gcccffmb1lsg0t07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669034824282-nfg88mb4hqe02l47gcccffmb1lsg0t07</string>
	<key>API_KEY</key>
	<string>AIzaSyA-rZWzDEGGcoel4fmxzrAfS4l40weiA1c</string>
	<key>GCM_SENDER_ID</key>
	<string>669034824282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tv.kidfam.authonly</string>
	<key>PROJECT_ID</key>
	<string>aonv2mr</string>
	<key>STORAGE_BUCKET</key>
	<string>aonv2mr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669034824282:ios:f9ac7a269d3fe405820e63</string>
</dict>
</plist>